* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: burlywood;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.arrow {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.arrow::before{
    content: '\1F817';
    font-size: 60px;
}

.container {
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 50%;
    border: 15px solid #dde;
    position: relative;
    overflow: hidden;
    transition: 5s;
}

.container div {
    height: 50%;
    width: 240px;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    left: 162px;
}

.container .lang1 {
    background-color: red;
    left: 50%;
}

.container .lang2 {
    background-color: orange;
    transform: rotate(45deg);
}

.container .lang3 {
    background-color: yellow;
    transform: rotate(90deg);
}

.container .lang4 {
    background-color: green;
    transform: rotate(135deg);
}

.container .lang5 {
    background-color: aqua;
    transform: rotate(180deg);
}

.container .lang6 {
    background-color: blue;
    transform: rotate(225deg);
}

.container .lang7 {
    background-color: blueviolet;
    transform: rotate(270deg);
}

.container .lang8 {
    background-color: pink;
    transform: rotate(315deg);
}

.lang_choice { 
    border: solid 1px white; 
    outline: 0; 
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, yellowgreen), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, yellowgreen 1px, #FFFFFF 25px); 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    border-radius:13px;
}

#spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: black;
    text-transform: uppercase;
    border: 8px solid white;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
    width: 96px;
    height: 96px;
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;
}